body{
  background-color:#f4e1d2;
  padding: 30px;
}
nav {
  padding: 30px;
  background-color:#50394c;
  position: sticky;
    top: 0;
  text-shadow: 1px 1px 0 #444;
  color: white;
}
header {
  padding: 30px;
  height: 70%;
  background-image: url('https://images.unsplash.com/photo-1478004521390-655bd10c9f43?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ec72599a6c46d462479bdaa378f3fd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-attatchment: fixed;
  background-position:center;
}
H1 {
  text-align: center;
}
main{
  padding-top: 15px;
  display: grid;
  grid-template-areas
    "aside article article";
    "aside footer footer";
  grid-gap: 30px;
  
}
aside {
  grid-area: aside;
  padding: 30px;
  background-color: #b2b2b2;
}
article {
  grid-area: article;
  padding: 30px;
  background-color: white;
}
footer {
  grid-area: footer;
  padding: 30px;
  background-color: #b2b2b2;
  color: #ffef96;
}





